.deps/
.libs/
*.a
*.app
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.lo
*.log
*.m4
*.o
*.obj
*.out
*.slo
*.so
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/darts
src/darts-benchmark
src/mkdarts
stamp-h1
test/*.trs
test/test-darts
test/test-darts.dic
test/test-dic
test/test-result
test-driver
